*{
    margin: 0;
    padding: 0;
    font-family: Mulish,sans-serif;
}
html{
    background-color: #fff;
}
.nav-container{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 10px 200px #FCFDFD;
    padding: 20px;
    margin-bottom: 40px;
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    /*box-shadow: 0 1px 1px rgb(226,226,226);*/
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);

    align-items: center;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: white;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
}
.right > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.menu{
    display: none;
}
.logo{
    width: 40px;
}
.nav-container1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-bottom: 0.3px solid grey;
    padding-bottom: 10px;
}
.nav-container1 > .right-half{
    display: flex;
    gap: 20px;
}
.nav-container1 > .right-half{
    font-weight: 300;
}
.container{
    width: 80vw;
    margin: 100px auto;
}


.card{
   padding: 20px;
   width: 250px;
   position: relative;
   padding-bottom: 0;

}
.card-image{
    width: 250px;
}
.card p{
    margin: 5px 0;
    font: 100px !important;
}
.rating-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.1px solid grey;
    font-size: 12px;
}
.bullet{
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    
}
.offer-container{ 
    display: flex;
    padding: 10px 0px;
    border-bottom: 0.2px solid grey;
    font-size: 12px;
    align-items: center;
    gap: 10px;
    color: #8A584B;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 40px;
    margin-top: 20px;
}

.card:hover{
    outline: 2px solid grey;

}
.rating-container > .rating{
    display: flex;
    align-items: center;
    background-color: #DB7C38;
    color: white;
    font-size: 13px;
    padding: 2px;
}
.rating-container > .rating1{
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    font-size: 13px;
    padding: 2px;
}
.star{
    font-size: 13px !important;
}
/*.card::before{
    content: 'PROMOTED';
    display: block;
    position: absolute;
    top: 20px;
    background-color: #393C41;
    color: white;
    padding: 4px;
    left: 8px;
    font-size: 12px;
}*/
.btn{
    display: block;
    border: none;
    font-weight: bold;
    color: blue;
    margin: 5px auto;
    padding: 5px 0;
    visibility: hidden;
    background-color: white;
}
.card:hover .btn{
    visibility: visible;
}


.footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px;
    align-self: center;
    margin: 20px;
}
.footer h5{
    color: #808080;
    margin: 10px 0px;
}
.footer > div {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}
.footer > div > a{
    color: white;
    text-decoration: none;
}
.footer img{
    width: 150px;
    border: 2px solid gray;
    gap: 10px;
}
.footer img:hover{
    width: 160px;
}
.store-container{
    align-items: center;
    gap: 30px;
}
.footer a{
    font-weight: 300;
}
.footer a:hover{
    font-weight: bold;
}



@media (max-width:800px){
    .card-container{
        grid-template-columns: repeat(2,auto);
    }
    .footer{
        grid-template-columns: repeat(2,auto);

    }
    .menu{
        display: block;
    }
    .right{
        display: none;
    }
    .menu:hover + .right{
        display: flex;
        flex-flow: column wrap;
        border: 2px solid red;
        position: absolute;
        right: 0;
        top: 60px;
        width: 200px;
        height: calc(100vh - 60px);
        justify-content: flex-start;
        align-items: stretch;
        padding-top: 20px;

      }
      .right > div{
        align-items: stretch;
        justify-content: space-evenly;
      }
      
}
@media (max-width:600px) {
    .card-container{
        grid-template-columns: auto;
        justify-items: center;
    }
    .footer{
        grid-template-columns: auto;
        gap: 20px;

    }
    
}

.badge{
    background-color: #393C49;
    width: 100px;
    margin: 100px;
    position: absolute;
    color: white;
    left: 5px;
    margin: 0px;
}
.badge::before{
   content: '';
   width: 20px;
   height: 20px;
   display: inline-block;
   background-color: #393C49;
   position: absolute;
   z-index: -1;
   top: 6px;
   transform: skewY(30deg);
}